<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="contenedor">

  <mat-form-field>
    <input matInput type="text" placeholder="Ingrese primer valor">
  </mat-form-field>

  <mat-form-field>
      <input matInput  type="text" placeholder="Ingrese segundo valor">
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="sumar()">Sumar</button>
  <p>La suma de los dos valores es:{{resultado}}</p>
  
</div>